@import "tailwindcss";

:root {
  --background: oklch(96.8% 0.007 247.896);
  --foreground: oklch(12.9% 0.042 264.695);
}

.dark {
  --background: oklch(20.8% 0.042 265.755);
  --foreground: oklch(96.8% 0.007 247.896);
}

body {
  background: var(--background);
  color: var(--foreground);
}

